/* Filter box*/

#finder-frontend .filter-form {
    padding: 0 15px;
    box-sizing: border-box;
}

#finder-frontend .filtering {
    margin: 0 -15px;
}

.govuk-option-select, #finder-frontend .filter {
    margin-bottom: 30px;
}

.js-enabled .govuk-option-select {
    padding: 0 0 1px;
}

.govuk-option-select {
    background-color: #dee0e2;
}

.js-container-head {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 90%;
    text-align: left;
    margin-bottom: -1px;
    padding: 5px 8px;
    background-color: #dee0e2;
}

.govuk-option-select .option-select-label {
    font-family: "nta", Arial, sans-serif;
    text-transform: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.25;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 5px;
}

.js-enabled .govuk-option-select .options-container {
    border: 5px solid #dee0e2;
}

.govuk-option-select .options-container {
    position: relative;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.govuk-option-select .options-container label {
    cursor: pointer;
    display: block;
    padding: 7px 7px 7px 7px;
    border-bottom: 1px solid #bfc1c3;
    cursor: pointer;
    width: 100%;
}

.govuk-option-select .options-container input {
    float: left;
    margin: 2px 0 0 -27px;
    width: 20px;
    height: 20px;
}

.no-padding-margin {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

@media (min-width: 641px)
header-footer-o…28505bfc.css:1
.js-enabled .govuk-option-select .js-selected-counter {
    font-size: 14px;
    line-height: 1.42857;
}

.js-enabled .govuk-option-select .js-selected-counter {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}
