@import 'global-header.css';
@import 'form-validation.css';
@import 'summary.css';
@import 'chooseactivity.css';

/* position labels above input fields in cascading forms */
label.cascading span {
	display: block;
}

.table--borderless th {
  border: none;
}

.spaced-below {
  padding-bottom: 10px;
}

.spaced-above {
  padding-top: 20px;
}

.search-header {
  position: relative;
  margin: 0;
  padding: 0 0 15px;
  overflow: visible;
  width: 66.666%;
}

@media (min-width: 769px) {
  .search-header {
    padding: 0 0 30px;
  }
}

.search-header .searchfield {
  position: relative;
}

.search-header .search-input {
  position: static;
  margin: 0;
  padding: 0 50px 0 0;
}

.search-header .search-input .form-group {
  padding-bottom: 0;
  margin-bottom: 0;
}

.search-header .search-submit {
  position: absolute;
  bottom: 0;
  right: -100px;
  height: 50px;
  width: 100px;
  overflow: visible;
}

.search-header input {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  display: block;
  height: 50px;
  border: 1px solid #bfc1c3;
  border-right: none;
  line-height: 48px !important;
}

@media (min-width: 769px) {
  .search-header input {
    font-size: 19px;
  }
}

.search-header .search-input .form-field--error {
  padding-right: 0;
}


.search-header button {
  font-weight: bold;
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  height: 50px;
  width: 100px;
  border: none;
  color: #fff;
  background-color: #2b8cc4;
  margin-right: 0;
}

.search-header button:hover,
.search-header button:active,
.search-header button:focus,
.search-header .button:hover,
.search-header .button:active,
.search-header .button:focus
 {
  background-color: #267daf;
  box-shadow: none;
}

.search-header .spelling-suggestion p {
  font-size: 14px;
  margin: 0;
  padding: 10px 0 0;
}

@media (min-width: 769px) {
  .search-header .spelling-suggestion p {
    font-size: 16px;
  }
}
